.body{ 
     color: rgb(22, 206, 93);
     font-size: 32px;
} 

h2{
     background-color: yellow;
}
.blue{
     color: blue;
}

img{
     height: 25px;
     
}

p{ font-size: 15px; 
     text-align: justify;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     line-height:1,5;
}