body {
	font-family: 'https://fonts.google.com/specimen/Poppins', sans-serif;
}

header {
	background-color:brown;
	padding: 30px;
	text-align: center;
	color: white;
}

#img-div {
    display: block;
	text-align: center;
    max-width: 100%;
    height: auto;
    
}

#image {
    display: block;
	max-width: 100%;
    border-radius: 10%;
    height: auto;
    
}

#tribute-info {
	margin: 20px 0;
}

#tribute-link {
	display: block;
	background-color: burlywood;
	color: white;
	padding: 10px 20px;
	text-align: center;
	margin: 20px 0;
}

#tribute-link:hover {
	background-color:blue;
}
footer{
    text-align: center;
}

#main{
    display: block;
    padding: 30px;
}
.img {
    display: block;
    position: center;
}